*~
games
*.o
*.orig
nethack-src/dat
nethack-src/include/date.h
nethack-src/include/dgn_comp.h
nethack-src/include/lev_comp.h
nethack-src/include/onames.h
nethack-src/include/pm.h
nethack-src/include/vis_tab.h
nethack-src/src/Sysunix
nethack-src/src/config.h-t
nethack-src/src/hack.h-t
nethack-src/src/monstr.c
nethack-src/src/nethack
nethack-src/src/vis_tab.c
nethack-src/util/dgn_comp
nethack-src/util/dgn_lex.c
nethack-src/util/dgn_yacc.c
nethack-src/util/lev_comp
nethack-src/util/lev_lex.c
nethack-src/util/lev_yacc.c
nethack-src/util/makedefs
nethack-src/util/recover


